@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');

code[class*="language-"],
pre[class*="language-"],
code, kbd, .line-number  {
    font-family: 'IBM Plex Mono', monospace !important;
}

code[class*="language-"],
pre[class*="language-"] {
    line-height: 1.6 !important;
}